.page{
    background-color: rgb(206, 236, 241);
    height: 500px;
    width: 98%;
    margin: 10px 10px 10px 10px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}

